body {
    background-color: black;
    color: lime;
    font-family: monospace;
    text-align: center;
}

#game {
    width: 420px;
    margin: auto;
    border: 2px solid lime;
    padding: 20px;
}

#camera {
    border: 1px solid lime;
    height: 120px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background: black;
    color: lime;
    border: 1px solid lime;
    padding: 6px 10px;
    margin: 4px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: lime;
    color: black;
}
